[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
pillow = "*"
pytesseract = "*"
dlib = "*"
face-recognition = "*"

[dev-packages]

[requires]
python_version = "3.8"
