<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="container">
        <div class="head">
            <h1>HELLO</h1>
        </div>
        <nav>
            YES
        </nav>
        <div class="img1">
            {{Image}}
        </div>

        <footer>
            Tristan Tongue
        </footer>
    </div>
    
</body>
</html>